.input-field {
    outline: none;
    border-radius: 10px 10px 10px 10px;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    -moz-appearance: textfield;
}

@font-face { 
    font-family: "rouble";
    src: url("../font/fonts//rouble.otf") format("opentype");
}
.rub { 
    font-family: "rouble"; 
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
}
.input-form {
    margin: 10px;
    padding-left: 40px;
}
