svg {
    cursor: pointer;
}
.bi-info-circle {
    &:hover {
        fill: #9370DB; 
    }
}

.tooltip {
    font-size: 0.5rem;
    &.show {
        opacity: 1;
    }
    .arrow {
        padding: 0px;
        &::before {
            top: -4px;
            bottom: -7px;
            left: 4px;
            border: 6px solid transparent; border-bottom: 6px solid #483D8B; border-left: 6px solid #483D8B;
        }
    }
}

.tooltip-inner {
    position: absolute;
    text-align: left;
    width: 130px;
    top: 2px;
    left: 4px;
    padding: 5px 5px;
    background-color:#483D8B;
    border-radius: 0;
}

.tooltipButton {
    padding-left: 10px;
    outline: none;
}