.show-pay {
    margin-top: 15px;
    background-color: khaki;
    margin-left: 10px;
    width: auto;
    padding: 15px 25px 10px 25px;
    max-width: 420px;
}
.rub {
    word-spacing: -5px;
}
p {
    margin-bottom: 5px;
}