.switchForm {
    margin-top: 7px;
    margin-left: 15px;
    font-size: 0.75em;
}

.custom-control {
    padding-left: 0px;
}
.custom-control-input:checked {
    & ~ .custom-control-label::before {
        background-color: orange;
        border-color:grey;
    }
    & ~ .custom-control-label {
        color: black;
    }
    & ~ .custom-control-label-left {
        color: grey;
    }
}
.custom-control-label {
    &::before {
        cursor: pointer;
    }
    &::after {
        cursor: pointer;
    }
}
.custom-control-label {
    margin-left: 35px;
    color: grey;
}
.custom-control-label-left {
    padding-right: 8px;
    padding-left: 17px;
}