.switchForm {
    margin-top: 16px;
    margin-left: 8px;
    font-size: 0.75em;
    margin-bottom: 5px;
}

.custom-control {
    padding-left: 0px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;  
    & [type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;  
    &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        top: 1px;
        left: 1px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
} 
input:checked {
    & + .slider {
    background-color: #FF8C00;
  }
}
input:checked {
    & + .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
    }
    & + .custom-control-label-right {
        color: grey;
    }
}
.slider.round {
    border-radius: 34px;  
    &.round:before {
        border-radius: 50%;
    }
}
.custom-control-label-right {
    margin-left: 8px;
    color: black;
}
.custom-control-label-left {
    padding-right: 8px;
    padding-left: 34px;
    color: black;
}

.custom-control-label-left,
.custom-control-label-right {
    opacity: 0.5;
    font-weight: 700;
    &.active {
        opacity: 1;
    }
}